<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each_with_index do |user, i| %>
	<ul>
		<li><%= "#{(i+1).to_s}.   #{user.name}" %></li>
		<ul>
			<% user.sessions.each_with_index do |session, i| %>
			<li><%= "#{i+1}. #{session.login.localtime}, #{session.logout.localtime if session.logout}" %></li>
				<ul>
					<% session.channels.each do |channel| %>
					<li><%= channel.name.to_s %></li>
					<% end %>
				</ul>
			<% end %>
		</ul>
	</ul>
<% end %>