<h1 class="header">TeamSpeak History</h1>

<div class="content">
  <div class="row-fluid lists">

    <div class="users span3">
      <%= render 'users' %>
    </div>

    <div class="months span3">
      <%= render 'months' if @user %>
    </div>

    <div class="sessions span3">
      <%= render 'sessions' if @sessions %>
    </div>

    <div class="channels span3">
      <%= render 'channels' if @channels %>
    </div>

  </div>
</div>
